/* ============================== Google Fonts ================================== */
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans+Condensed:wght@300&family=Permanent+Marker&display=swap');
/* ================== Css Variables ===================== */
:root{
    /* =============== Colors ================ */
    --button-color: hsl(9, 100%, 64%);
    --button-hover-color: hsl(9, 100%, 44%);
    --text-hover-color: hsl(0, 0%, 56%); 
    /*==================== Font Families ================== */
    --h1-font: 'Neonderthaw', cursive;
    --text-font: 'Open Sans Condensed', sans-serif;
    /* ====================== Font Sizes ======================= */
    --h1-font-size: 4rem;
    --h2-font-size: 3.5rem;
    --text-font-size: 1rem;
    --countries-header-font-size: 4rem;
    /* ====================== Font weights ===================== */
    --bold: 900;
    --semi-bold: 700;
    --thin: 500;
    /* ======================== Z-indexes ====================== */
    --absolute-z-index: 10;
    /* ===================== Margin Bottom ====================== */
    --m-b: 3rem;
    /* ============================ Header Height =========================== */
    --header-height: 750px;
}
@media screen and (max-width: 400px) {
    :root{
        --countries-header-font-size: 3rem;
    }
}
@media screen and (min-width: 600px) {
    :root{
        /* ================ Typography =============== */
        --h1-font-size: 5rem;
        --h2-font-size: 4rem;
        --text-font-size: 1.25rem;       
    }
}
@media screen and (min-width: 1840px) {
    :root{
        /* ================ Typography =============== */
        --h1-font-size: 6rem;
        --h2-font-size: 4.5rem;
        --text-font-size: 2rem;
        /* ================ Margin Bottom =============== */
        --m-b: 5.5rem;
    }
}
/* ============================ Basics =============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: .75rem;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--button-color);
}
html::-webkit-scrollbar-thumb:hover{
    background-color: var(--button-hover-color);
}
body{
    font-size: var(--text-font-size);
    min-height: 100vh;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}
h1{
    display: inline-block;
    font-size: var(--h1-font-size);
    font-family: var(--h1-font);
    font-weight: var(--bold);
}
p, h2{
    font-family: var(--text-font);
    color: #000;
}
h2{
    font-size: var(--h2-font-size);
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
button{
    background-color: var(--button-color);
}
.section-header-container h2{
    color: seagreen;
    background-color: #fff;
    padding: 1rem;
    white-space: nowrap;
    border-top: 2px solid seagreen;
    border-bottom: 2px solid seagreen;
    transition: all .3s linear;
    cursor: default;
}
.section-header-container h2:hover{
    color: #fff;
    background-color: seagreen;
}
/* ====================== Reusable Classes ====================== */
.section{
    margin-bottom: var(--m-b);
    width: 100%;
    height: auto;
}
.section:last-child{
    margin-bottom: 5rem;
}
.clicked{
    transform: rotate(180deg);
}
.section-header-container{
    width: 100%;
    height: auto;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 7px #000;
    transition: box-shadow 1s;
}
.section-header-container:hover{
    box-shadow: 0 0 15px 7px seagreen;
}
#countries-menu .section-header-container{
    margin-bottom: 3.5rem;
}
/* =============================== Navigation Bar ============================== */
header{
    width: 100%;
    height: var(--header-height);
    background-image: url(../pictures/sea\ from\ top.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: var(--m-b);
}
#header-text{
    display: block;
    margin-bottom: 2.5rem;
}
header button{
    width: 10rem;
    height: 2.5rem;
    border: none;
    position: relative;
    transition: all 1s linear;
}
header button a {
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 2;
}
header button::before{
    content: '';
    width: 0;
    height: inherit;
    transition: all 180ms linear;
    border-radius: 20px;
    background-color: var(--button-hover-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
header button:hover{
    border-radius: 3rem;
}
header button:hover::before{
    width: inherit;
}
header button:hover a
{
    color: var(--text-hover-color);
}
nav{
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.5rem;
}
#logo-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../pictures/Logo.jpeg);
    background-size: cover;
    background-position: center;
}
#menu-container{
    width: 75%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.menu-items{
    font-size: 1.2rem;
    padding: .5rem 0;
}
.menu-items a{
    color: hsl(0, 0%, 93%);
    font-weight: var(--bold);
    font-size: 1.5rem;
}
.menu-items a:hover{
    color: var(--text-hover-color);
}
#slider-menu-open-container{
    width: 50px;
    height: 37px;
    position: absolute;
    z-index: 12;
    right: 2rem;
    cursor: pointer;
    display: none;
    transition: 1s;
}
#slider-menu-open-container > *{
    transition: all 1s ease-in-out;
}
.slider-menu-open-layers{
    width: 100%;
    height: 5px;
    margin-bottom: .4rem;
    background-color: #fff;
    transition: 1s;
}
.slider-menu-open-layers{
    margin-bottom: none;
}
#zoom-menu{
    width: 280px;
    height: 440px;
    background-color: hsl(120, 100%, 14%);
    position: absolute;
    left: 54%;
    top: 70px;
    transform: translateX(-50%);
    display: none; 
}
#zoom-menu-list li{
    padding: 1rem;
    border-bottom: 1px solid #fff;
}
#zoom-menu-list li:last-child{
    border-bottom: none;
}
#zoom-menu-list li:hover{
    background-color: hsl(120, 100%, 7%);
}
#zoom-menu-list li a{
     font-size: 3rem;
     font-weight: var(--bold);
}
#zoom-menu-list li:hover a{
    color: var(--text-hover-color);
}
#sliderMenuZoomMenuContainer a{
    border-bottom: 1px solid #fff;
}
#sliderMenuZoomMenuContainer a:first-child{
    border-bottom: none;
}
/* ================================= Main ============================= */
main{
    width: 100%;
    height: auto;
    margin-bottom: var(--m-b);
}
/* ================================= Countries Menu ============================= */
#countries-container{
    width: 100%;
    height: 250px;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
#countries-container::-webkit-scrollbar{
    background-color: transparent;
}
#country-image-container{
    width: 2975px;
    height: 100%;
}
.country{
    width: 595px;
    height: 100%;
    background-color: #00f;
    border: 2px solid #000;
    float: left;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.country::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
}
.country:hover::after{
    backdrop-filter: blur(15px);
}
.country h2{
    font-weight: var(--bold);
    color: hsl(300, 100%, 20%);
    font-size: var(--countries-header-font-size);
    letter-spacing: .5rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    transition: 1s;
}
.country:hover h2{
    color: #fff;
}
#Bali{
    background-image: url(../pictures/Bali\ attraction.jpg);
    background-size: cover;
    background-position: bottom;
}
#Costa-Rica{
    background-image: url(../pictures/Costa\ Rica\ attraction.jpg);
    background-size: cover;
    background-position: center;
}
#Italy{
    background-image: url(../pictures/Italy\ attraction.jpg);
    background-size: cover;
    background-position: center;
}
#Japan{
    background-image: url(../pictures/Japan\ attraction.jpg);
    background-size: cover;
    background-position: center;
}
#Iceland{
    background-image: url(../pictures/Iceland\ attraction.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.arrow{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--button-color);
    position: absolute;
    z-index: var(--absolute-z-index);
    top: 1000px;
}
#scroller-arrow{
    right: 1rem;
}
#back-scroller-arrow{
    left: 1rem;
}
.arrow i{
    font-size: 3rem;
    color: #fff;
}
.arrow:hover{
    background-color: var(--button-hover-color);
}
.arrow:hover i{
    color: var(--text-hover-color);
}
/* ================================= Image slider Menu ================================ */
#slider-menu-container{
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 2.2rem;
    z-index: 100;
    width: 0;
    height: 100vh;
    background-color: var(--button-color);
    transition: all .7s linear;
    overflow: auto;
    box-shadow: -5px 0 15px #000;
}
#slider-menu-container::-webkit-scrollbar{
    width: .75rem;
}
#slider-menu-container::-webkit-scrollbar-thumb{
    background-color: var(--button-color);
}
#slider-list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.slider-menu-item a{
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    font-weight: var(--bold);
}
.slider-menu-item a:hover{
    color: var(--text-hover-color);
}
#sliderMenuZoomMenuContainer{
    height: 100px;
    overflow: hidden;
}
#sliderMenuZoomMenuContainer::-webkit-scrollbar{
    width: .2rem;
}
#sliderMenuZoomMenuContainer::-webkit-scrollbar-thumb{
    background-color: hsl(30, 100%, 9%);
}
#sliderMenuZoomMenuContainer a{
    display: block;
    padding: 2rem;
}
#down-arrow-container i{
    font-size: var(--h2-font-size);
}
#countries-slider-menu-link div{
    display: inline-block;
}
#countries-slider-menu-link{
    background-color: var(--button-color);
}
/* ========================== Trending Cities ============================ */
#trending-cities{
    margin-bottom: var(--m-b);
    padding-bottom: 5rem;
}   
#trend-cities-picture-container{
    width: 100%;
    min-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 2rem;
    margin-top: 1rem;
}
#trend-cities-picture-container h2{
    color: #000;
    text-shadow: none;
    text-align: center;
    text-transform: uppercase;
    animation-name: example;
    animation-duration: 2300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#trend-cities-picture-container::after{
    content: '';
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -2;
    right: 0;
    top: 40px;
    background-color: rgba(3, 3, 3, 0.85);
    margin-bottom: 10rem;
}
#trend-cities-picture-container::before{
    content: '';
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -3;
    top: 40px;
    background-image: url(../pictures/city\ from\ top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.trend-cities-container{
    width: 480px;
    height: 200px;
    margin-bottom: 6rem;
}
.trend-cities-container img{
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.trend-cities-container img:hover{
    animation-fill-mode: backwards;
}
/* ========================== Accommodation Part ================================ */
#accommodation-container{
    width: 95%;
    height: auto;
    margin: auto;
    background-image: url(../pictures/Hotel\ palacio\ de\ duques\ de\ Madrid.jpg);
    background-size: cover; 
    background-position: center;
    border-radius: 2.5rem;
    padding-top: 2rem;
    box-shadow: 0 0 5px #000,
    0 0 10px #000,
    0 0 20px #000;
    transition: 1s;
}
#accommodation-container:hover{
    box-shadow: none;
}
#accommodation-text-container{
    width: 60%;
    height: auto;
    padding-left: 3rem;
}
#accommodation-text-container > *{
    margin-bottom: 3rem;
    color: #fff;
}
#accommodation-text-container p,
#accommodation-text-container h2{
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
}
#accommodation-text-container p:hover,
#accommodation-text-container h2:hover{
    background-color: rgb(0, 0, 0);
}
#accommodation-container p{
    font-weight: var(--bold);
}
#accommodation-text-container button{
    width: 10rem;
    height: 2.5rem;
    border: none;
    position: relative;
    transition: all 1s linear;
}
#accommodation-text-container button:hover{
    border-radius: 3rem;
}
#accommodation-text-container button::before{
    content: '';
    width: 0;
    height: inherit;
    transition: all 180ms linear;
    border-radius: 20px;
    background-color: var(--button-hover-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#accommodation-text-container button a{
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 2;
}
#accommodation-text-container button:hover::before{
    width: inherit;
}
#accommodation-text-container button:hover a{
    color: var(--text-hover-color);
}
/* ======================== Travellers story part ======================== */
#travellers-story-container{
    width: 100%;
    padding-bottom: 5rem;
}

/* ============== Clearfix Hack ============= */

#travellers-story-container::after{
    content: '';
    clear: both;
    display: table;
}
.travellers-story-pictures{
    width: 29%;
    height: auto;
    float: left;
    position: relative;
}
.travellers-story-pictures:last-child a{
    width: 105%;
}
.travellers-story-pictures img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 5px #000,
    0 0 10px #000,
    0 0 20px #000;
    transition: .5s;
}
.travellers-story-pictures img:hover{
    box-shadow: none;
}
.travellers-story-pictures:first-child::before,
.travellers-story-pictures:nth-child(2)::before,
.travellers-story-pictures:last-child::before
{
    position: absolute;
    inset: 0;
    padding: 5rem 0 0 5rem;
    z-index: 1;
    color: var(--button-color);
    font-weight: var(--bold);
    font-size: 4rem;
}
.travellers-story-pictures:first-child::before{
    content: 'India';
}
.travellers-story-pictures:nth-child(2)::before{
    content: 'Peru';
}
.travellers-story-pictures:last-child::before{
    content: 'Thiland';
}
#travellers-story-part .section-header-container{
    margin-bottom: 3.5rem;
}
#travellers-story-button{
    width: 30%;
    height: 4rem;
    border: none;
    position: relative;
    transition: all 1s linear;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#travellers-story-button a{
    font-weight: var(--bold);
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 2;
}
#travellers-story-button::before{
    content: '';
    width: 0;
    height: inherit;
    transition: all 180ms linear;
    border-radius: 20px;
    background-color: var(--button-hover-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#travellers-story-button:hover{
    border-radius: 3rem;
}
#travellers-story-button:hover::before{
    width: 100%;
}
#travellers-story-button:hover a{
    color: var(--text-hover-color);
}
/* ======================== Footer ======================== */
footer{
    width: 100%;
    height: auto;
    border-top: 1px solid gray;
    padding-top: 2rem;
}
#footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-container > *{
    margin-bottom: var(--m-b);
}
#footer-text{
    width: 80%;
    text-align: center;
}
#footer-text > *{
    margin-bottom: 2rem;
}
#footer-social-networks-icons{
    width: 100%;
    height: auto;
}
#icons-list-container{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icons-list-container li{
    width: 25%;
    border: 2px solid hsl(0, 0%, 48%);
    font-size: 3rem;
    padding: 2rem;
    transition: .3s transform, .3s box-shadow, .6s font-size;
    box-shadow: 0 0 25px #000;
}
#icons-list-container li:hover{
    font-size: 4.5rem;
    transform: rotateY(-25deg) translateX(-1.5rem);
    box-shadow: -10px 0 15px 5px #000;
}
#icons-list-container li:first-child{
    background-color: hsl(221, 44%, 41%);
}
#icons-list-container li:nth-child(2){
    background-color: hsl(197, 100%, 47%);
}
#icons-list-container li:nth-child(3){
    background-color: hsl(0, 100%, 50%);
}
#icons-list-container li:nth-child(4){
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
#icons-list-container li:last-child{
    background-color: hsl(190, 82%, 30%);
}
#icons-list-container li a i{
    color: #000;
}
#copyright{
    width: 100%;
    height: 50px;
    border-top: 1px solid gray;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
    transition: .5s;
}
#copyright:hover{
    border-top: 5px solid #000;
    font-size: 2rem;
}
/* =============================== Media Queries ================================= */
@media screen and (max-width: 600px) {
    #menu-container{
        display: none;
    }
    #slider-menu-open-container{
        display: inline-block;
    }
    #Costa-Rica h2 {
        margin-left: -6.3rem;
    }
    #accommodation-text-container{
        width: 90%;
    }
    #accommodation-text-container h2{
        font-size: 2.5rem;
    }
    #travellers-story-container{
        min-height: 400px;
    }
    .travellers-story-pictures:last-child{
        width: 100%;
        margin: 0;
    }
    .travellers-story-pictures:first-child,
    .travellers-story-pictures:nth-child(2){
        width: 42%;
        margin: 0 0 2rem 1.5rem;
    }
    .travellers-story-pictures:first-child::before,
    .travellers-story-pictures:nth-child(2)::before
    {
        font-size: 2.5rem;
        padding: 2rem 2rem 0 1rem;
    }
    .travellers-story-pictures:last-child::before{
        padding: 7rem 0 0 1rem;
        font-size: 5rem;
    }
    #travellers-story-button{
        width: 90%;
    }
    #icons-list-container li:first-child{
        padding: 0 2rem;
        min-height: 123px;
    }
}
@media screen and (max-width: 400px) {
    #countries-container{
        height: 400px;
    }
    .country{
        width: 350px;
    }
    #country-image-container{
        max-width: 1750px;
    }
    #Costa-Rica h2{
        margin-left: 1rem;
    }
}
@media screen and (min-width: 600px) {
    header button{
        transform: scale(1.5);
    }
    .travellers-story-pictures{
        margin-left: 2.6rem;
    }
}
/* ================== Trend cities part responsive(1023px)  ================= */
@media screen and (max-width: 1023px) {
    #trend-cities-picture-container::after,
    #trend-cities-picture-container::before{
        height: 1250px;
    }
}
@media screen and (min-width: 1840px) {
    #countries-container{
        height: 450px;
    }
    #header-text{
        margin-bottom: 3rem;
    }
    .menu-items a{
        font-size: 2.5rem;
    }
    header button{
        transform: scale(2);
    }
    .arrow{
        transform: scale(2);
        top: 1214px;
    }
    .section-header-container h2{
        padding: 3rem;
    }
    .trend-cities-container{
        height: 300px;
    }
    #trend-cities-picture-container::after,
    #trend-cities-picture-container::before
    {
        height: 500px;
    }
    #accommodation-text-container > *{
        margin-bottom: 10rem;
    }
    #accommodation-text-container p,
    #accommodation-text-container h2{
        padding: 2rem;
    }
    #accommodation-text-container button{
        width: 15rem;
        height: 5.5rem;
    }
    #accommodation-text-container button a,
    #travellers-story-button a{
        font-size: 1.5rem;
    }
    #travellers-story-button{
        height: 8rem;
    }
    #icons-list-container li{
        font-size: 7rem;
    }
    footer{
        border-top: 3px solid gray;
    }
    #copyright{
        height: 100px;
        font-size: 3.5rem;
        border-top: 3px solid gray;
    }
}
/* These are the specified classes for menu open button layers for 
when the user cicks on them */
.m-layer-animation{
    transform: translateX(-4rem);
    opacity: 0;
}
.t-layer-animation{
    transform: rotate(45deg) translateY(1rem);
}
.b-layer-animation{
    transform: rotate(-45deg) translateY(-1rem);
}
/* ======================= Trend cities text animation ======================== */
@keyframes textLight {
    0%
    {
        color: #000;
        text-shadow: none;
    }
    50%
    {
        color: #fff;
        text-shadow: none;
    }
    100%
    {
        color: #fff;
        text-shadow: 0 0 15px hsl(195, 96%, 45%),
        0 0 20px hsl(195, 96%, 45%),
        0 0 35px hsl(195, 96%, 45%),
        0 0 50px hsl(195, 96%, 45%);
    }
}
@keyframes imageLight {
    from
    {
        box-shadow: none;
    }
    to
    {
        box-shadow: 0 0 15px hsl(195, 96%, 45%),
        0 0 25px hsl(195, 96%, 45%);
    }
}